<h2>
  <% if @language %>
    <%= t("pull_requests.languages.language.count", count: number_with_delimiter(contribution_count), language: @language) %>
  <% else %>
    <%= t("pull_requets.count", count: number_with_delimiter(contribution_count)) %>
  <% end %>
</h2>
<%= render @pull_requests_decorator.paginated, cache: true %>
<%= paginate @pull_requests_decorator.paginated %>