<h1>
  24 Pull Requests in 2018
</h1>

<p>
  For the past 6 years, 24 Pull Request has been encouraging developers to give back to the open source projects they use. The idea was simple: "Send 24 pull requests between December 1st and December 24th", giving little gifts of code throughout December.
</p>

<p>
  Since the initial launch of the project in 2012, open source usage has explored with millions of people contributing to projects around the world but one are where open source continues to struggle with is in the <%= link_to 'diversity of contributors', 'https://en.wikipedia.org/wiki/Diversity_in_open-source_software', target: :blank %>.
</p>

<p>
  One problem that compounds the diversity issue is that tools and metrics that measure open source contributions often only acknowledge code contributions, ignoring all the others ways that people can contribute to open source projects.
</p>

<p>
  The GitHub contributions graph is a prime example, which only recognises a hadful of kinds of contributions. This can make it difficult for people to get the recognition they deserve, potentially hampering their motivation and even hurting their job prospects.
</p>

<p>
  It took us 6 years to realise that <strong>24 Pull Requests has been part of that problem too</strong>. In previous years, you could only participate if your contributioons could be presented in the form of a pull request. This is particularly difficult for people who are contributioong by:
</p>

<ul>
  <li>
    Organising an event
  </li>
  <li>
    Answering questions on Stack Overflow
  </li>
  <li>
    Supporting and mentoring new contributors
  </li>
  <li>
    Speaking at a conference or user group
  </li>
  <li>
    managing the governace aspects of a project
  </li>
  <li>
    Writing blg posts about how to use a project
  </li>
  <li>
    Mailing stickers to contributors
  </li>
  <li>
    Donating money to help pay a projects infrastructure costs
  </li>
  <li>
    and many other ways of contributiong without writing code...
  </li>
</ul>

<p>
  Those kinds of taske are often undertaken by women, people of colour and other underrepresented groups, only making worse as their contributions become invisible to many people.
</p>

<p>
  So this year we're making the biggest change to 24 Pull Requests sice the start of the project: <strong>you'll be able to record every kind of contribution you make to open source, not just pull request.</strong>
</p>

<p>There's a <%= link_to 'new contribution form', new_contribution_path %> on the site that allows you to record the contributions wou've made each day that wouldn't usually make sense a pull request.</p>

<p>
  Those non-pull-request contributions are treated exactly the same as pull requests acros the site, showing up on your profile and the homepage, in other words all contributions are considered equal.
</p>

<p>With this change, we hope to use 24 Pull Requests to encourage all kinds of contributions to open source projects, it also opens up the ability to track contributions to open source projects that aren't hosted on GitHub.</p>

<hr>

<h4>How to track your open source contributions this year:</h4>

<p>For contributions that are pull requests, everything will work the same as previours years, just login and sync your pull requests from the <%= linkt_to 'dashboard', dashboard_path %>.</p>

<p>For contributions that you've made to an open source projects that aren't pull requests, you can record in the <%= link_to 'new contribution form', new_contribution_path %>.</p>

<p>See you on December 1st!</p>